<!DOCTYPE html>
<html>
  <head>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
     <script src="http://localhost:8080/views/JS/post.js"></script>
     <link rel="stylesheet" type="text/css" href="http://localhost:8080/views/CSS/style.css">
     <meta name="roomName" content="{{roomName}}">
     <meta name="nickName" content="{{nickName}}">
  </head>
  <body>
	<form method="POST" action="/{{roomName}}/messages" id="messageForm">
        <div id= "form">
		<strong>Messages: </strong><input type="text" name="message" id="messagefield">
    	<input type="hidden" name="nickName" id="nicknamefield" value = "{{nickName}}">
    	<input type="submit" value="Submit">
        </div>
	</form>
	<ul id="topic">   
    </ul>
   </body>
</html>