<!DOCTYPE html>
<html>
  <head>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
     <script src="JS/post.js"></script>
     <meta name="roomName" content="{{roomName}}">
     <meta name="nickName" content="{{nickName}}">
  </head>
  <body>
	<form method="POST" action={{roomName}}/messages id="messageForm">
		<input type="text" name="message" id="messagefield">
    	<input type="hidden" name="nickName" id="nicknamefield" value = "{{nickName}}">
    	<input type="submit" value="Submit">
	</form>
	<ul id="topic">
    </ul>
   </body>
</html>