<!DOCTYPE html>
<html>
  <head>
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
     <link rel="stylesheet" type="text/css" href="http://localhost:8080/views/CSS/style.css">
     <meta name="roomName" content="{{roomName}}">
     <meta name="errorinfo" content="{{error_info}}">
  </head>
  <body>
    <h1>{{ error_info }}</h1>
    <form method="POST" action="/{{roomName}}" id="nickroom">
    	Nickname: <input type="text" name="nickname" id="namefield">
    	<input type="submit" value="Send">
	</form>
   </body>
</html>